* {
    padding: 0;
    margin: 0;
  }
  
  body {
    background: linear-gradient(135deg, #a2c9f5, #f2e6ba);
    color: #333;
  }
  
  :root {
    --bd-violet-rgb: 102, 51, 153;
  }
  
  .navbar-purple {
    background-color: rgba(var(--bd-violet-rgb), 0.95);
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    color: white;
  }
  
  .navbar-purple img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .navbar-purple .navbar-brand {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .navbar-purple .nav-link {
    font-size: 0.9rem;
    color: white;
    margin-right: 0.75rem;
  }
  
  .navbar-purple .nav-link:hover {
    color: #ddd;
  }
  
  .search-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 300px;
  }
  
  .search-bar {
    background-color: #7733aa;
    color: white;
    border-radius: 5px;
    padding-left: 1.5rem;
    border: none;
    width: 100%;
  }
  
  .search-bar:hover {
    border: 2px solid rgba(255, 255, 0, 0.8);
    box-shadow: 0 0 8px 2px rgba(255, 255, 0, 0.6);
  }
  
  .search-bar::placeholder {
    color: #e0cfe6;
  }
  
  .search-hint {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.75rem;
    color: #e0b9fd;
    background-color: #8546b4;
    padding: 2px 6px;
    border-radius: 5px;
  }
  
  .alert-custom {
    background-color: #ffe066;
    color: #333;
    text-align: center;
    padding: 5px 2px;
    border-radius: 30px;
    max-width: 300px;
    margin: 2rem auto;
    font-size: .9rem;
  }
  
  .hero-section {
    text-align: center;
    padding-bottom: 5px;
  }
  
  .hero-section img {
    width: 150px;
    margin-bottom: 20px;
  }
  
  .hero-section h1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 3.6rem;
    font-weight: 630;
    max-width: 750px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .hero-section p {
    font-size: 1.3rem;
    color: #555;
    max-width: 700px;
    margin: 5px auto;
  }
  
  .hero-section .btn-light-custom,
  .hero-section .btn-purple-custom {
    padding: 15px 15px;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    border-radius: 10px;
    margin: 10px;
  }
  
  .hero-section .btn-light-custom {
    background-color: #21252913;
    color: #333;
    border: 1px solid #ddd;
  }
  
  .hero-section .btn-purple-custom {
    background-color: #663399;
    color: #fff;
    border: none;
  }
  
  .footer {
    color: #555;
    padding: 0;
    margin: 0;
  }
  
  .footer p {
    font-size: 1rem;
    color: #333;
    margin: 0;
  }
  
  .footer .footer-link {
    color: #6c757d;
    font-weight: 400;
  }
  
  .footer .footer-link:hover {
    color: #6c757d;
    text-decoration: none;
  }